.closing-time-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.closing-time-inner {
  box-shadow: 1px 2px 18px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-top: 60px;
  font-size: 24px;
  padding: 20px 60px 20px 60px;
  border-radius: 64px;
  font-size: 84px;
  width: 50%;
}

.closing-label {
  font-weight: bold;
}
